.signForm {
	margin-top: 10px;
	padding: 0.75rem 1rem;
	font-family: Furore, sans-serif;
	font-size: 1.1em;
	color: var(--accent-font-color);
	letter-spacing: 0.5px;
	background-color: var(--sign-button-bg-color);
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #357ac9;
	}
}

.link {
	font-family: Furore, sans-serif;
	font-size: 1.2em;
	color: var(--link-font-color);
	text-decoration: underline;
	text-underline-offset: 3px;
	cursor: pointer;
	transition: color 0.3s ease;

	&:hover {
		color: #357ac9;
		opacity: 0.7;
	}
}

.tdHeadBtn {
	padding: 0.75rem;
	width: 100%;
	height: 100%;
	font-family: Furore, sans-serif;
	line-height: 100%;
	font-size: 1em;
	color: var(--main-font-color);
	letter-spacing: 0.5px;
}

.blockBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
	padding: 0.75rem;
	font-family: Furore, sans-serif;
	font-size: 1em;
	color: var(--link-font-color);
	letter-spacing: 0.5px;
	border: 2px solid var(--link-font-color);
	border-radius: 5px;

	&:hover {
		color: #357ac9;
		border-color: #357ac9;
		opacity: 0.7;
	}
}

.bascketBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
	border: 2px solid #8b0f0f;
	border-radius: 5px;

	&:hover {
		border-color: #8f1e1e;
		opacity: 0.7;
	}
}

.forgotPassword {
	font-family: Furore, sans-serif;
	font-size: 1em;
	color: var(--link-font-color);
	text-decoration: underline;
	text-underline-offset: 3px;
	cursor: pointer;
	transition: color 0.3s ease;

	&:hover {
		color: #357ac9;
		opacity: 0.7;
	}
}

@media (width <= 768px) {
	.signForm {
		margin-top: 5px;
		padding: 0.5rem 0.75rem;
		font-size: 1em;
	}

	.link {
		position: relative;
		bottom: 1px;
		font-size: 1.1em;
	}

	.forgotPassword {
		font-size: 1em;
	}

	.tdHeadBtn {
		padding: 0.5rem;
		font-size: 0.9em;
	}

	.blockBtn {
		padding: 0 0.5rem;
		height: 40px;
		font-size: 0.9em;

		img {
			width: 14px;
			height: 14px;
			object-fit: cover;
		}
	}

	.bascketBtn {
		margin-left: 5px;
		padding: 0 0.5rem;
		height: 40px;
	}
}

@media (width <= 425px) {
	.link {
		font-size: 1em;
	}

	.forgotPassword {
		font-size: 0.9em;
	}
}
