.loginUse {
	margin-left: 50px;
	font-family: Furore, sans-serif;
	line-height: 100%;
	font-size: 3.5em;
	color: var(--main-font-color);
}

.notFoundPage {
	font-family: Furore, sans-serif;
	line-height: 100%;
	font-size: 4em;
	color: var(--main-font-color);
}
